{% extends 'base.html.twig' %}

{% block title %}Offres GPU
{% endblock %}

{% block body %}
	<h1>Offres GPU</h1>

	<table id="offers-table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Fournisseur</th>
				<th>Type d'instance</th>
				<th>GPU</th>
				<th>VRAM</th>
				<th>vCPU</th>
				<th>Prix</th>
				<th>Zone de disponibilité</th>
				<th>OS</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<!-- Les données seront insérées ici -->
		</tbody>
	</table>

	<script src="/js/offers.js"></script>

{% endblock %}
